:host {
  --card-spacing: var(--c-spacing-large);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--c-border-radius-large);
  background-color: var(--c-panel-background-color);
  color: var(--c-color-neutral-900);
  font-size: var(--c-font-size-small);
  font-family: var(--c-font-sans);
  box-shadow: var(--c-shadow-small);
  border: var(--c-panel-border-width) solid var(--c-panel-border-color);
}

:host([data-size='sm']) {
  --card-spacing: var(--c-spacing-medium);
}