:host {
  display: contents;
  margin: 0;
}
.alert {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: var(--c-panel-background-color);
  border: solid var(--c-panel-border-width) var(--c-panel-border-color);
  border-top-width: calc(var(--c-panel-border-width) * 3);
  border-radius: var(--c-border-radius-medium);
  font-family: var(--c-font-sans);
  font-size: var(--c-font-size-small);
  font-weight: var(--c-font-weight-normal);
  line-height: 1.6;
  color: var(--c-color-neutral-700);
  margin: inherit;
  overflow: hidden;
}
.alert:not(.alert--has-icon) .alert__icon,
.alert:not(.alert--closable) .alert__close-button {
  display: none;
}
.alert__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--c-font-size-large);
  padding-inline-start: var(--c-spacing-large);
}
.alert--has-countdown {
  border-bottom: none;
}
.alert--primary {
  border-top-color: var(--c-color-primary-600);
}
.alert--primary .alert__icon {
  color: var(--c-color-primary-600);
}
.alert--success {
  border-top-color: var(--c-color-success-600);
}
.alert--success .alert__icon {
  color: var(--c-color-success-600);
}
.alert--neutral {
  border-top-color: var(--c-color-neutral-600);
}
.alert--neutral .alert__icon {
  color: var(--c-color-neutral-600);
}
.alert--warning {
  border-top-color: var(--c-color-warning-600);
}
.alert--warning .alert__icon {
  color: var(--c-color-warning-600);
}
.alert--danger {
  border-top-color: var(--c-color-danger-600);
}
.alert--danger .alert__icon {
  color: var(--c-color-danger-600);
}
.alert__message {
  flex: 1 1 auto;
  display: block;
  padding: var(--c-spacing-large);
  overflow: hidden;
}
.alert__close-button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--c-font-size-medium);
  margin-inline-end: var(--c-spacing-medium);
  align-self: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}
.alert__countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--c-panel-border-width) * 3);
  background-color: var(--c-panel-border-color);
  display: flex;
}
.alert__countdown--ltr {
  justify-content: flex-end;
}
.alert__countdown .alert__countdown-elapsed {
  height: 100%;
  width: 0;
}
.alert--primary .alert__countdown-elapsed {
  background-color: var(--c-color-primary-600);
}
.alert--success .alert__countdown-elapsed {
  background-color: var(--c-color-success-600);
}
.alert--neutral .alert__countdown-elapsed {
  background-color: var(--c-color-neutral-600);
}
.alert--warning .alert__countdown-elapsed {
  background-color: var(--c-color-warning-600);
}
.alert--danger .alert__countdown-elapsed {
  background-color: var(--c-color-danger-600);
}
.alert__timer {
  display: none;
}